<html>
<head>
</head>
<body>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

Here are the groups the you own:

<table>
	<th>Owner</th>
	<th>Groupname</th>


{% for line in posts %}
	<tr>
		<td>{{line.email}}</td>
		<td>{{line.fg_name}}</td>
	</tr>
{% endfor %}
</table>
<br>
<a href = "/new_friend">Add user to group</a>
<!-- adding ability to add to a group 
add checking for if group is owned by person later-->
<br>
<a href = "/old_friend">Remove user from group</a>
<!-- adding ability to remove from a group 
add checking for if group is owned by person later-->
<br>
<a href="/home">Go Back</a>
<br>
<a href="/logout">Logout</a>

</body>


</html>
