<html>
<head>
</head>
<body>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

Here are your posts:

<table>
	<th>ID</th>
	<th>Poster</th>
	<th>Time</th>
	<th>File Path</th>
	<th>Name</th>

{% for line in posts %}
	<tr>
		<td>{{line.item_id}}</td>
		<td>{{line.email_post}}</td>
		<td>{{line.post_time}}</td>
		<td>{{line.file_path}}</td>
		<td>{{line.item_name}}</td>
	</tr>
{% endfor %}
</table>


<br>
<a href="/ratings">Ratings</a>
<br>
<a href="/tags">Tags</a>
<br>
<a href="/comments">Comments</a>
<br>
<a href="/home">Go Back</a>
<br>
<form action="/tag_someone" method = "GET">
	<a href="tag_someone">Tag Someone</a></br>
</form>
<br>
<form action="/add_comment" method = "GET">
	<a href="add_comment">Add Comment</a></br>
</form>
<br>
<a href="/logout">Logout</a>


</body>


</html>
