<html>
<head>
</head>
<body>
<form action="/new_post" method="POST">
	<input type="text" name = "title" placeholder="Post Name" required/> </br>
	<input type="text" name = "file_path" placeholder="File Path"/></br>
	Public or Private: <br>
	<input type="radio" name="is_pub" value=1 checked/> Public </br>
	<input type="radio" name="is_pub" value=0> Private </br>
	<input type="submit" value = Submit />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

<a href="home">Go back</a>

</body>


</html>
